body {
	background-image: url("https://i.imgur.com/kYW2H5C.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	color: tranparent;
	background: url('https://i.imgur.com/kYW2H5C.jpg')   -20px -20px no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

h2 {
	color: tranparent;
	background: url('https://i.imgur.com/kYW2H5C.jpg')   -20px -20px no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.header {
	background-color: grey;
	text-align: center;
	border-radius: 20px;
	font-size: 60px;
	transition: 1s ease;
	font-family: arial;
	font-weight: bold;
	letter-spacing: -13px;
}

.header:hover {
	color: dark-grey;
	border-radius: 10px;
	font-size: 70px;
	letter-spacing: -10px;
}

.desc {
	background-color: darkgrey;
	border-radius: 20px;
	text-align: center;
	font-size: 14px;
	margin-top: 0px;
	transition: 1s ease;
}

.desc:hover {
	color: dark-grey;
	border-radius: 10px;
	font-size: 17px;
}

.socials {
	text-align: center;
}

button {
	font-size: 40px;
	margin: auto;
	border-radius: 15px;
}

.ste {
	background: #020024;
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
	color: #383838;
}

.dis {
	background: #00bbff;
	background: linear-gradient(30deg, rgba(0, 187, 255, 1) 0%, rgba(54, 54, 54, 1) 100%);
	color: #383838;
}

.X {
	background: #9e9e9e;
	background: linear-gradient(233deg, rgba(158, 158, 158, 1) 0%, rgba(0, 0, 0, 1) 100%);
	color: #383838;
}
